h1 {
    font-size: 40px;
    font-family: "Times New Roman", serif;
    color: #000; }

h2  {
    font-size: 35px;
    font-family: "Times New Roman", serif;
    color: #000;  }

h3 {
    font-size: 30px;
    font-family: "Times New Roman", serif;
    color: #000;  }

h4{
    font-size: 25px;
    font-family: "Times New Roman", serif;
    color: #000;  }

h5 {
    font-size: 20px;
    font-family: "Times New Roman", serif; 
    color: #000; }

h6 {
    font-size: 18px;
    font-family: "Times New Roman", serif;
    color: #000;  }

    * {box-sizing:border-box}



    
.headerRow {
    background-color: #000;
    height: 300px;
    width: 100%;

}
.headerLogo{
    padding-left: 10%;
    padding-top: 20px;
    width: 33.33%;
    float: left;
    margin-top: 50px;
    
}

.headerMenu{ 
    padding-right:50px ;
    margin-left: 50%;
    width: 66.66%;
    padding-top: 20px;  
}

#menuTop{
   margin-top:40px ;
    margin-right: 10px;
    margin-left: 25%;
 }

#menuButtom{
 
 color: #FFFFFF;
 border: none;
 padding-top: 30px;
 margin-right: 10px;
 font-size: 16px;
}


/* Slideshow container */

    .slideshow-container {
      max-width: 1200px;
      position: relative;
      margin: auto;
      margin-top: -100px;
           
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      bottom: -5%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color:black;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev{
        margin-left: 1100px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
        margin-left: 50px;
        margin-bottom: -70px;
      background-color: #000;
      color: white;
      font-size: 24px;
      padding: 8px 30px;
      padding-top: 30px;
      position: absolute;
      bottom: 8px;
      width: 50%;
      height: 150px;
      text-align: center;
    }
  
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }


.icons{
    margin-left: 20%;
    padding-left: 10px;    
}

.button{
    background:none;
    border: none;
    font-size: 18px;
    color: #DDDDDD; 
    font-family: 'Times New Roman', Times, serif;
    margin-right: 30px;
}

.button:hover{
    text-decoration: underline;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.margin{
margin-right: 30px;
}

.white{
    color: #FFFFFF  ;
}

/* Dropdown Button */
.dropbtn {
    background-color:#000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    /*cursor: pointer;*/
    text-decoration: underline;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    color: white;
    min-width: 335px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #title{
      font-size: 16px;
      font-style: bold;
  }
  #textdropdown{
      font-size: 12px;
  }
   
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}*/

.item{
    position: absolute;
    display: none;
}

.main{
    display: block;
}
  



 
/* Grid with pictures and articles*/ 

  .grid-container{
      margin-top: 100px;
    margin: 100px auto;
    width: 70%;
    margin-left: 15%;
      display:grid;
      border: none;
      grid-template-areas:
      'picture1 text1 text1 info1'
      'picture2 text2 text2 info2'
      'picture3 text3 text3 info3'
      'picture4 text4 text4 info4'
      'picture5 text5 tex5t info5';
     
      grid-column-gap: 40px;
      grid-row-gap: 20px;
      grid-template-columns:33,33% 33.33% 33,33% ;
  }

  .grid-image1{ grid-area: picture1;}
  .grid-image2{ grid-area: picture2;}
  .grid-image3{ grid-area: picture3;}
  .grid-image4{ grid-area: picture4;}
  .article1{ grid-area: text1;}
  .article2{ grid-area: text2;}
  .article3{ grid-area: text3;}
  .article4{ grid-area: text4;}
  .shop{ grid-area: info1;}

  #more {display: none;}

  .showmore .more, .showmore.show .dots {
    display: none
  }

  .showmore.show .more {
    display: inline
  }

  .previous-page{
      border-color: #000;
      background-color: #FFFFFF;
      font-size: 14px;
      margin-left: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
  }

  .next-page{
   
    border-color: #000;
    background-color: #FFFFFF;
      font-size: 14px;
      margin-left: 500px;
      font-family: Georgia, 'Times New Roman', Times, serif;  
      text-align: center;
  }

 
    #JPO1, #JPO2, #JPO3, #JPO4{
background-color: #FFFFFF;
color: #000;
height: 90%;
width: 40%;

    }

    #popuptext{
        padding-left:  30px;
        padding-right: 30px;
    }

    #popupImage{
        width: 100%;
        height: 40%;
    }

   